td,th{
    vertical-align: middle;
    text-align: center
}
svg{
    height:150px !important
}
body{
    background-image: url(../static/images/wallpaper.png);
    background-size:100% 100%;
    background-repeat: repeat;
}
div{
    color: azure
}
